:root {
    --primary-color: #2b324b;
    --background-color: #e1e5ee;
    --section-color: #fff;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    margin: 0;
  }

  section {
    margin: 3rem auto;
    width: 65%;
    background-color: var(--section-color);
  }

  #menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    font-weight: 700;

    margin: 0;
    padding: 0;
  }
  
  #menu li {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1.25rem 3rem;
    font-size: 1.5rem;
  }

  #menu li.active {
    background-color: var(--section-color);
    color: var(--primary-color);
  }

  article {
    background-color: var(--section-color);
    padding: 0rem 2rem 2rem 2rem;
    margin: 2rem;
  }